### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VSCode ###
.project
.settings
.classpath

target/
build/
mobileid-client-samples/src/main/java/ch/swisscom/mid/client/samples/TestSoap.java
local-*.*
api-docs

# Local files that might be created during testing
/truststore.jks
/keystore.jks
/config.properties
